PORT=4000
MONGO_URI=mongodb://mubeenahmed:Mubeenahmed786@ac-tpuqjrf-shard-00-00.eui386i.mongodb.net:27017,ac-tpuqjrf-shard-00-01.eui386i.mongodb.net:27017,ac-tpuqjrf-shard-00-02.eui386i.mongodb.net:27017/?ssl=true&replicaSet=atlas-6zkmc6-shard-0&authSource=admin&appName=Cluster0